.scroll_container {
    position: absolute;
    top: 0;
    right: 0;
 }
 
.scroll-icon  {
	position: relative;
	margin: 2em;
	width: 3em;
	height: 5em;
	border: .3em solid  #214a58;
	border-radius: 2em;
}
.scroll-icon:hover{
    cursor: pointer;
}




.scroll-icon.ex-3 .wheel {
	position: absolute;
	left: 50%;
	top: 25%;
	width: .6em;
	height: .6em;
	background-color:  #4d98a0;
	transform: translate(-50%, 0);
	border-radius: .6em;
	animation: ex-3-wheel 1s ease-in-out infinite;
}
.scroll-icon:hover, .scroll-icon.ex-3 .whee{
    cursor: pointer;
    border: .3em solid  #4d98a0;
    background-color:  #214a58;



}

.scroll-icon.ex-3 .arrow {
	position: absolute;
	left: 50%;
	width: .4em;
	height: 1em;
	transform: translateX(-50%);
	opacity: .3;
	animation: ex-3-wheel-opacity 1s ease-in-out infinite;
}
.scroll-icon.ex-3 .arrow::before,
.scroll-icon.ex-3 .arrow::after {
	content: '';
	display: block;
	width: .4em;
	height: .4em;
	border-left: 1px solid  #4d98a0;
	border-top: 1px solid  #4d98a0;
	box-sizing: border-box;
}
.scroll-icon.ex-3 .arrow.up {
	top: 10%;
}
.scroll-icon.ex-3 .arrow.up::before,
.scroll-icon.ex-3 .arrow.up::after {
	transform: rotate(45deg);
}
.scroll-icon.ex-3 .arrow.down {
	top: 45%;
}
.scroll-icon.ex-3 .arrow.down::before,
.scroll-icon.ex-3 .arrow.down::after {
	transform: rotate(-135deg);
}
@keyframes ex-3-wheel {
	0%, 100% {
		transform: translate(-50%, 0);
	}
	50% {
		transform: translate(-50%, 50%);
	}
}
@keyframes ex-3-wheel-opacity {
	0%, 100% {
		opacity: .5;
	}
	50% {
		opacity: .2;
	}
}